@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg {
  background: rgb(212, 7, 15);
  background: linear-gradient(
    90deg,
    rgba(212, 7, 15, 1) 0%,
    rgba(241, 128, 9, 1) 44%,
    rgba(255, 218, 19, 1) 100%
  );
}

.primary-button {
  @apply bg-blue-500;
}
